<h2>Cases List</h2>
<% if @cases.empty? %>
    <h4>There are no cases under this filter.</h4>
<%else%>
    <table class="table table-bordered" style="width: 100%">
      <tr>
        <th>Customer</th>
        <th>Subject</th>
        <th>Status</th>
        <th>Updated</th>
        <th>Priority</th>
      </tr>
      <% @cases.each do |c| %>
          <tr>
            <td> <%= c.customer.first_name %><%= c.customer.last_name %></td>
            <td> <%= c.labels %>-<%= c.subject%></td>
            <td> <%= c.status%></td>
            <td> <%= c.updated_at.to_date.strftime("%d/%m/%Y")%></td>
            <td> <%= c.priority%></td>
          </tr>
      <%end%>
    </table>
<%end%>